.header,
.footer,
.introduction__list li,
.introduction__links > *,
.introduction__text {
    opacity: 0;
}

.introduction__text {
    transform: translateX(-50px);
}

.introduction__links > * {
    transform: translateY(-50px);
}
