@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

:root {
    --main-bg-color: #f4f1f1;
    --main-text-color: rgb(30, 69, 60);
    --main-text-color-80: rgba(30, 69, 60, 0.8);
    --orange-text-color: #cf5b36;
    --off-white-text-color: #f4f1f1;

    --fw-regular: 300;
    --fw-bold: 500;
}
